development:
  FACEBOOK_APP_ID: 
  FACEBOOK_APP_SECRET: 
  TWITTER_API_KEY: 
  TWITTER_API_SECRET: 
  AWS_ACCESS_KEY_ID: 
  AWS_ACCESS_KEY_SECRET: 
  AWS_S3_BUCKET: 
  AWS_REGION: 
  HOST_URL: 
production:
  FACEBOOK_APP_ID: 
  FACEBOOK_APP_SECRET: 
  TWITTER_API_KEY: 
  TWITTER_API_SECRET: 
  AWS_ACCESS_KEY_ID: 
  AWS_ACCESS_KEY_SECRET: 
  AWS_S3_BUCKET: 
  AWS_REGION: 
  HOST_URL: 