development:
  FACEBOOK_APP_ID:
  FACEBOOK_APP_SECRET:
  TWITTER_API_KEY:
  TWITTER_API_SECRET:
  AWS_ACCESS_KEY_ID: key
  AWS_ACCESS_KEY_SECRET: key
  AWS_S3_BUCKET: key
  AWS_REGION: key
  HOST_URL:
  MAILGUN_API_KEY:
  MAILGUN_DOMAIN:
  MAILGUN_DEFAULT_FROM:
production:
  FACEBOOK_APP_ID:
  FACEBOOK_APP_SECRET:
  TWITTER_API_KEY:
  TWITTER_API_SECRET:
  AWS_ACCESS_KEY_ID:
  AWS_ACCESS_KEY_SECRET:
  AWS_S3_BUCKET:
  AWS_REGION:
  HOST_URL:
  MAILGUN_API_KEY:
  MAILGUN_DOMAIN:
  MAILGUN_DEFAULT_FROM:
