@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
@import "utilities";
@import "requests";
@import "home";
@import "sessions";
@import "pledges";
@import "custom";
@import 'direct_upload';

a.no-style {
  color: inherit !important;
  text-decoration:none;
}

.social-media-box {
  display: flex;
  div {
    flex-grow: 1;
  }
}